%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Let the simulation begin
				%p
					With a clear understanding of how the app will work. We needed NASA to provide a little more info. We asked them a few questions so we could best solve their problem. Here’s what we got back:
			.col-md-1.col-lg-2
		.row
			.col-lg-1
			.col-md-12.col-lg-10
				.brand-doc
					.col-md-1
					.col-md-10
						%img.img-responsive.pull-right.margin-top{:src=>"images/logo_2.png"}
						.clearfix
						.padding-top
							.padding-top
								.double-margin-bottom
									%h5
										How does the app work?
									%hr
									%p
										NASA has had the means to travel through time for quite a while now. We have been documenting, in detail, every earthly moment roughly 5 billion years in the past and 5 billion years in the future (between the formation of the earth and the distruction of the sun). 
									%p
										Exploration has always been core to NASA’s mission. In turn, we would like to allow the public to explore these moments just as we have. To do so, we have developed technology that simulates traveling to a point in time through a satellite based “beaming mechanism”. Our app will allow people to beam to a simulation of any moment they please. The app is totally safe and totally free!
								.double-margin-bottom
									%h5
										Competition:
										%br
										list of competitors in your space ( urls)
									%hr
									%p
										%a{:href=>"http://backtothefuture.wikia.com/wiki/Flux_capacitor", :target=>"_blank"}
											http://backtothefuture.wikia.com/wiki/Flux_capacitor
											%i.fa.fa-external-link
									%p
										%a{:href=>"https://en.wikipedia.org/wiki/TARDIS", :target=>"_blank"}
											https://en.wikipedia.org/wiki/TARDIS
											%i.fa.fa-external-link
									%p
										%a{:href=>"https://dribbble.com/shots/1524674-Timepass-A-Time-Travel-Concept", :target=>"_blank"}
											https://dribbble.com/shots/1524674-Timepass-A-Time-Travel-Concept
											%i.fa.fa-external-link
									%p
										%a{:href=>"https://dribbble.com/shots/1622138-Time-Travel-App/attachments/252424", :target=>"_blank"}
											https://dribbble.com/shots/1622138-Time-Travel-App/attachments/252424
											%i.fa.fa-external-link
								.double-margin-bottom
									%h5
										You:
										%br
										List of audiences/targets/ current and future
									%hr
									%p
										Ultimately, we want the app to be useful to everyone. To start, we plan to target adults over the age of 18. We want to orient the app toward people with an explorer’s spirit. Think outdoor enthusiasts and college students. People who enjoy new experiences. 
									%p
										We expect our initial audience to be intelligent, tech savvy people. We want to target good natured people that will use the gift of time-travel to explore, rather than use it for personal gain. Anyone caught using the app for anything other than exploration will be banned. 
								.double-margin-bottom
									%h5
										Describe your best customers’/users’ relationship with the app
									%hr
									%p
										We want the app to feel friendly. A lot of other time travel apps look “futuristic” and cold. We want to create an experience that mimics “searching for a picture” or “entering a location into a GPS”. The app should feel familiar right out of the gate. We want to avoid it looking too “sci-fi”. 
								.double-margin-bottom
									%h5
										Who is your user?
									%hr
									%p
										Anyone who wants to explore time and is old enough to appreciate it. We understand that some moments may be more explicit than others. We have discussed a “parental control” or “rating” feature to limit access to certain moments. We have also made some moments “unsearchable” due to their graphic nature. Access to these moments is granted by special request only. 
								.double-margin-bottom
									%h5
										Current value proposition (what are you “selling”)
									%hr
									%p
										We are selling: a safe time exploration experience. 
								.double-margin-bottom
									%h5
										Describe your current offering
									%hr
									%p
										Currently, we offer users the ability to simulate any point in time they wish, within the lifespan of the earth.
									%p
										To start, NASA will feed a range of interesting moments into the system. Broken down into categories for the user to explore. Users can also search for any moment they wish.
									%p
										A moment consists of a 
										%ul
											%li
												time
											%li
												date
											%li
												location (exact address or general place)
									%p
										The simulation is 100% realistic. Users will feel exactly as if they are there. The experience can be described as “ghost like”, where users can see and hear their surroundings, but the surroundings do not see them. 
									%p
										While “in simulation” users can continue to use the app to see their current moment in time, search for their next location or return home.
									%p
										This is an MVP, and we plan to quickly allow travel deeper into the past and future. 
									%p
										We want the interface to be extendable enough to allow for upcoming features like 
									%ul
										%li
											commenting on a moment 
										%li
											dropping pins to return to later
										%li 
											user generated moment feeds. 
									%p
										We see social interaction as a large component for v2 of the app. 

								.double-margin-bottom
									%h5
										If you could get your users/visitors to do only 1 thing, what would it be?
									%hr
									%p
										Experience a meaningful moment in time

								.double-margin-bottom
									%h5
										Features: 
										%br
										look feel that are relevant to what we want to achieve (do not need to be in your space):
									%hr
									%p
										Google maps
										%br
										UBER
										%br
										Apple maps
										%br
										Hotels Tonight
										%br
										Air BnB
								.double-margin-bottom
									%h5
										Personification if your app were a person, alive or dead, real or fictitious, who would it be? And why?
									%hr
									%p
										Mister Peabody
										%br
										%a{:href=>"https://en.wikipedia.org/wiki/Mister_Peabody"}
											https://en.wikipedia.org/wiki/Mister_Peabody
									%p
										He was a friendly and knowledgeable guide through the depths of time. Ultimately, we want the app to act as both a guide and a vessel. Time travel can be daunting. We want our users to feel comfortable, safe and informed. 
								.double-margin-bottom
									%h5
										Brand pyramid: 3 to 5 answers per please
								.double-margin-bottom
									%h5
										Personality: (eg dedicated, modern, sleek):  
									%hr
									%p
										Friendly 
										%br
										Approachable
										%br
										Empathetic 
								.double-margin-bottom
									%h5
										Functional Benefits: (eg information, guidance, analysis): 
									%hr
									%p
										Information
										%br
										Guidance
										%br
										Transport
								.double-margin-bottom
									%h5
										Features/attributes: (eg facts, user generated, web based)  
									%hr
									%p
										Mobile app 
										%br
										Signal based 
										%br
										Free
					.col-md-1
			.col-lg-1