%section.inverse-section{:style=>"background-color:#222225;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Color
				%p
					In addition to typography, we aimed to surface the brand through color. We researched the color guidelines and began assigning meaning to color use:
				%ol.baseol
					%li{:style=>"color:#F1373C!important;"}
						%strong
							Red: 
						actions
					%li{:style=>"color:#0064B6!important;"}
						%strong
							Blue: 
						accents
					%li{:style=>"color:#A8A9AD!important;"}
						%strong
							Gray/Black: 
						text
				%p
					With our color system in place, we applied it to the designs. We added some subtle stars, influenced by the NASA logo. Whether or not the star treatment will be a success remains to be seen. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/color_1.png"}