%section.inverse-section.primary-bg
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center.no-marign-bottom
					Find your moment
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.double-margin-bottom{:src=>"images/find_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					Per our outlines in the discovery phase, we designed the search functionality to be quick and easy. Early on, we explored surfacing categories here. After some testing however, we removed the categories in favor of coach marks for the search field. In future iterations of the app, we expect to extend the search functionality to include things like user generated categories and additional moments in time. Because we moved away from fixed date input fields, the search bar can evolve as the app does.  
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/find_2.png"}