%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					A Timely Challenge
				%p
					It’s not every day we come across an application so cutting edge, so sophisticated, that just the thought of it triggers a flood of intrigue. When we were asked to design an interface for NASA’s new time travel app, this is exactly what happened.
				.padded.text-center.double-margin-top.double-margin-bottom
					%img.img-responsive.margin-auto{:src=>"images/logo_1.png"}
				%h4
					%strong
						The challenge:
					“Demonstrate how you can apply a common visual language for a NASA time travel app, which consists of a UI that identifies where in time you are, where in time you want to go, and an actionable affordance to initiate time travel”
			.col-md-1.col-lg-2