%section{:style=>"background-color:white;"}
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Preparing for takeoff
				%p
					While researching other time travel interfaces, we came across some great thinking. We noticed however, a lot of the designs were “futuristic” looking. Per NASA’s request to keep the app friendly. An approachable solution was always in the back of our minds.
				%p
					We remember hearing that many “sci-fi” interfaces in movies and shows were intentionally designed to look “complex” and “involved”. These were two feelings we wanted to avoid. 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.double-margin-top{:src=>"images/landscape.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4
					We also felt that 
					%strong
						entering the destination 
					was something we could make easy and intuitive. 