%section.inverse-section{:style=>"background-color:#727272;"}
	.container
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Pre-boarding
				%p
					Before diving into a solution, we sketched out some ideas. To develop a meaningful product, we needed to answer a number of questions. Some of the larger questions were:
				%ol.baseol
					%li
						How could a time travel app actually work?
					%li
						What kind of problems arise with an app that allows users to travel through time? Is this safe?
					%li
						How do people want to move through time?
					%li
						Is location important?
					%li
						What happens if the phone dies?
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/sketch_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					To start, we began exploring some ideas surrounding moving through time. We developed a “time map” concept. This would allow users to scroll through a detailed map of time. We set a range of about 5 billion years past - 5 billion years future. The map would develop out over time. Just like a map of the earth, as certain points become more flushed out and explored, more information becomes available. This would also allow users to “drop pins” in time  and have a clear understanding of exactly how far away they were traveling. 
				%p
					We were set on the idea of plugging in a location and seeing a visual indicator of where in time you were going. A point-a-to-point-b feeling. As we continued to explore, we found this to be less important than originally thought.
				%p
					We also explored an “extended calendar” approach where users could move through time much like they move through a calendar. A calendar is a great way to track time after all. Ultimately though, the time map appeared to be a stronger concept, as it would allow users to zoom in and out easier. Also, the repetition of a calendar-like interface could make the app feel boaring.
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/sketch_2.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					Additional exploration yielded more problems. To combat the obvious issues of altering time, we developed an idea that made use of the multiverse theory. Users could be transported to one of the infinite number of parallel universes identical to ours. This way, they could travel to an alternate universe, explore a moment in time, and return home to their “origin universe” without the risk of returning to an entirely different future. No “Back-to-the-Future” scenarios here. No one likes to see themselves slowly fade out of family portraits.
				%p
					This idea held up, until we started thinking about the repercussions of filling  other universes with time travel tourists. We could be one unruly teenager away from chronological chaos! 
				%p
					As we pushed further, we asked ourselves:
				%ol.baseol
					%li
						Why use this app? 
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/sketch_3.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					With the answer to this question came our solution. Any NASA based time travel app should be rooted in exploration. We want to harness the spirit of exploring moments in time, not manipulate time. With this mantra in hand, we developed a new concept:
				%blockquote
					The app will beam users to a 
					%strong
						simulation 
					of any moment in time. People can safely experience time, without effecting it. 
				%p
					So users can explore the greatness of the past and future through virtual reality.
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom{:src=>"images/sketch_4.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p
					From here, we explored the interface, and developed the idea of “moments”. A moment is a location + a time. Through the app, moments can be searched, shared, curated, categorized and most importantly EXPLORED. Something like “the Air BnB of time” with direct access to any location. 
				%p
					The app will allow people to simulate any moment in time with a simple search. The simulation is 100% realistic and folks can stay as long as they want. Also, the “beam transportation device” keeps user’s phones charged, so no need to worry about getting stuck. 
				%p
					The app remains active while “in flight”. Users can easily search for a new moment to travel to, or reurn home at any time. 