%section
	.container	
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h2.text-center
					Starting the engines 
				%p
					Armed with all the information needed to start working on the app, we began maping out the functionality.
			.col-md-1.col-lg-2
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/wire_1.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4
					The home screen features a list of categories to explore and a search bar to... well… search. Initially, categories will be stocked by NASA. Eventually, these will be user generated.
%section
	.container
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/wire_2.png"}
			.col-md-1.col-lg-2
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4.double-margin-bottom
					Instead of a daunting multi-step time picker flow, we envisioned a new search syntax. Using one input field, users can simply search for a moment in time. 
				%h5.text-center
					%i.fa.fa-search
					“1234 1st st Boulder, CO Jan 1, 1988 AD 2:30pm"
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/wire_3.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4.double-margin-bottom
					Through some prototyping, we found the search UX to be a solution that users quickly warm up to. If for some reason they get stuck however, we will provide plenty of examples and coaching.

		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/wire_4.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4.double-margin-bottom
					Through searching and browsing, users find moments. The app will launch with two types of moments:
				%ol.baseol.darkol
					%li
						%strong
							Specific moments 
						linking to specific events in time
					%li
						%strong
							General moments 
						generated from searching any location + time. 
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%img.img-responsive.margin-auto.margin-bottom.margin-top{:src=>"images/wire_5.png"}
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%h4.double-margin-bottom.half-margin-bottom
					Tapping the warp button on a moment will simultaneously: transport users to the simulation and switch to a screen displaying the current moment in time. From there, users can easily return home, ending the simulation. 
				%h4
					The "current moment screen" can be collapsed for continued moment browsing. The “take me home” button will then remain fixed to the bottom of the screen as long as the user is “in-flight”. 