;;;
"title": "Forward"
;;;


%section.invert-section.home-header-section
%section.home-section
	.container
		.row.text-center
			.col-sm-1.col-md-2
			.col-sm-10.col-md-8
				%div{:style=>"margin-top:-150px;"}
					=image_tag'avatar.png', :width=>"200px", :class=>"home-avatar"
				.intro
					%h5
						Intro
					%p.half-margin-bottom
						Hello brilliant minds of 
						%span.bold-font-name{:style=>"color:#4a92f8; letter-spacing:-2px;"}
							G
						%span.bold-font-name{:style=>"color:#ee4b3c; letter-spacing:-2px;"}
							o
						%span.bold-font-name{:style=>"color:#fdc006; letter-spacing:-2px;"}
							o
						%span.bold-font-name{:style=>"color:#4a92f8; letter-spacing:-2px;"}
							g
						%span.bold-font-name{:style=>"color:#3db160; letter-spacing:-2px;"}
							l
						%span.bold-font-name{:style=>"color:#4a92f8; letter-spacing:-2px;"}
							e
						\. Thank you for the opportunity to present my work on this visual design exercise. I had a lot of fun imagining possibilities and exploring solutions. The following is a documentation of my process from start to finish, in case study format.   
					%p.double-margin-bottom.signature
						\- Alex Lauderdale, Designer
					%a.btn.btn-info.btn-xl{:href=>"/project"}
						View the Case Study
			.col-sm-1.col-md-2







